/* You can add global styles to this file, and also import other style files */
.display table,td,button,h1,h5{
    
    text-shadow: 1px 2px 3px blue;
    box-shadow: 1px 2px 3px blue;
    border-radius: 7px;
    /*text-align: center;*/
    
}
.display td{
    padding: 16px;
    font-size: 20px;
}
h1{
    text-align: center;
    width: 200px;
}
.search img{
    height: 28px;
    width: 30px;
    box-shadow:1px 2px 3px blue;
    
}
.search input:focus{
    outline : none;
}
 input{
    text-shadow: 1px 2px 3px blue;
    font-size: 16px;
    margin-right: 50px;
    height: 21px;
    width: 270px;
    background-color: snow;
    box-shadow:1px 2px 3px blue;
    
    
}
.search{
    display: flex;
    border: 2px solid grey;
    width:440px ;
    height: 30px;
    border-radius: 7px;
    
}
